body {
  line-height: 18px !important;
}
.box-row {
  margin: 0 1px;
}
.master-col {
  flex: 0 0 auto;
  width: 15%;
  margin-top: 3px;
  align-items: center;
}
.boxs-col {
  flex: 0 0 auto;
  width: 88%;
}
.master-col1 {
  flex: 0 0 auto;
  width: 16.66%;
  margin-top: 3px;
  align-items: center;
}
.total-col {
  flex: 0 0 auto;
  width: 10%;
  margin-top: 0px;
  align-items: center;
}
.box-no {
  font-size: 11px;
  line-height: 18px;
  margin: auto;
}
.total-no {
  font-size: 12px;
  margin: auto;
  color: green;
}
.amount-box {
  padding: 0;
  width: 38px;
  height: 18px;
  margin: 0 1px;
  font-size: 12px;
  text-align: center;

  color: red;
}
.total-text-col {
}
.total-amount-col {
}
.grand-total-no {
  font-size: 18px;
}
.buttons {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.box-h {
  height: 28px;
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
  body {
    line-height: 17px !important;
  }
  .box-no {
    font-size: 10px;
    margin: auto;
    line-height: 17px;
  }
  .total-no {
    font-size: 12px;
    margin: auto;
    color: green;
  }
  .amount-box {
    padding: 0;
    width: 31px;
    height: 20px;
    margin: 0 1px;
    font-size: 10px;
    text-align: center;
    color: red;
  }
}
