.App {
  font-family: sans-serif;
  text-align: center;
}
.btn-link-color {
  background-color: #000;
  color: #fff;
  border-radius: 15px;
}
.btn-link-color:hover {
  background-color: #000;
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}
