.App {
  font-family: sans-serif;
  text-align: center;
}
.btn-link-color {
  background-color: #000;
  color: #fff;
  border-radius: 15px;
}
.btn-link-color:hover {
  background-color: #000;
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}
.btn-parple {
  background-color: #ac2bac;
}
.select-box {
  padding: 4.5px 12px 3.68px !important;
}
.Amount-box {
  margin-right: 5px;
  padding-right: 35px;
}
@media only screen and (min-width: 300px) and (max-width: 768px) {
  .Amount-box {
    margin-right: 5px;
    width: 61px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
  }
}
